<! DOCTYPE html>
<html>
    <head>
        <title>
            practice_1
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>

  <div class="ui secondary  menu">
  <a href="/users" class="active item">
    Users
  </a>
  <a href="/users/new" class="item">
    New User
  </a>
  <div class="right menu">
    <% if (!currentUser) { %> 
      <a href="/register" class="ui item">
      Sign Up
    </a>
    <a href="/login" class="ui item">
      Log In
    </a>
    <% } %>
    <% if (currentUser) { %> 
    <a  class="ui item">
      Logged in as:     <%= currentUser.username %>
    </a>
    <a href="/logout"  class="ui item">
      Logout
    </a>
    <% } %>
  </div>
</div>

<div id="flash" class="ui container">
  <% if(error && error.length > 0) { %> 
    <div class="ui negative message">
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0) { %> 
    <div class="ui success message">
        <%= success %>
    </div>
    <% } %>
</div>
        
   