<% include ../partials/header %>

<div class="ui container">
    <form class="ui form" action="/users" method="POST">
        <div class="field">
            <label>First Name</label>
            <div class="ui input focus field">
                <input type="text" name='user[firstName]' placeholder="First Name">
            </div>
        </div>
        <div class="field">
            <label>Last Name</label>
            <div class="ui input focus">
                <input type="text" name='user[lastName]' placeholder="Last Name">
            </div>
        </div>
        <div class="field">
            <label>User Name</label>
            <div class="ui input focus">
                <input type="text" name='user[username]' placeholder="User Name">
            </div>
        </div>
        <div class="field">
            <label>Employee Number</label>
            <div class="ui input focus">
                <input type="text" name='user[employeeNumber]' placeholder="Employee Number">
            </div>
        </div>
        <input type="submit" value="Submit" class="ui blue basic button">
    </form>
</div>

<% include ../partials/footer %>

